<head>
    <meta charset="utf-8">
    <title>{% block title %}gestStock{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="{{ asset('/template/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('/template/bower_components/font-awesome/css/font-awesome.min.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ asset('/template/bower_components/Ionicons/css/ionicons.min.css') }}">
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('/template/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('/template/dist/css/AdminLTE.min.css') }}">
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect. -->
    <link rel="stylesheet" href="{{ asset('/template/dist/css/skins/skin-blue.min.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a href="{{ path('home') }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>G</b>ST</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>GestStock</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown notifications-menu">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">{{ stockMinimal|length }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header"><p>Produits en dessous du stock minimal</p></li>
                            <li>
                                <ul class="menu">
                                    {% for minimal in stockMinimal %}
                                        <li><!-- start message -->
                                            <a href="{{ path('entree_new') }}">
                                                    <h4>{{ minimal.name }}</h4>
                                                <h4>
                                                    Quantité restante: {{ minimal.quantiteDisponible }}
                                                </h4>
                                                <p>Passer une nouvelle commande?</p>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="footer"><a href="{{ path('detail_produit') }}">Plus de détails</a></li>
                        </ul>
                    </li>
                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">{{ seuilAlert|length }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">Produits en dessous du seuil d'alerte</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    {% for seuil in seuilAlert %}
                                        <li><!-- start message -->
                                            <a href="{{ path('entree_new') }}">
                                                <h4>{{ seuil.name }}</h4>
                                                <h4>
                                                    Quantité restante: {{ seuil.quantiteDisponible }}
                                                </h4>
                                                <p>Passer une nouvelle commande?</p>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="footer"><a href="{{ path('detail_produit') }}">Plus de détail</a></li>
                        </ul>
                    </li>

                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ asset('/img/user.jpg') }}" class="user-image" alt="User Image">
                            <span class="hidden-xs"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="{{ asset('/img/user.jpg') }}" class="img-circle" alt="User Image">

                                <p>
                                    {{ app.user }} - connecté
                                    <small>{{ app.user.email }}</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="row">
                                    <div class="text-center">
                                        <a href="{{ path('security_logout') }}">Se déconnecter</a>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>