<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ asset('/img/user.jpg') }}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{ app.user }}</p>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Mes activités</li>
            <!-- Optionally, you can add icons to the links -->
            <li><a href="{{ path('client_index') }}"><i class="fa fa-link"></i> <span>Client</span></a></li>
            <li><a href="{{ path('fournisseur_index') }}"><i class="fa fa-link"></i> <span>Fournisseur</span></a></li>
            <li><a href="{{ path('categorie_index') }}"><i class="fa fa-link"></i> <span>Categorie</span></a></li>
            <li><a href="{{ path('produit_index') }}"><i class="fa fa-link"></i> <span>Produit</span></a></li>
            <li>
            <li class="treeview">
                <a href="#"><i class="fa fa-link"></i> <span>Comande</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('entree_index') }}"><i class="fa fa-link"></i> <span>Liste des commandes</span></a></li>
                    <li><a href="{{ path('search_commande') }}"><i class="fa fa-link"></i> <span>Recherche avancée</span></a></li>
                </ul>
            </li>
            <li><a href="{{ path('sortie_index') }}"><i class="fa fa-link"></i> <span>Vente</span></a></li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
