{% include 'base/header.html.twig' %}
{% include 'base/sidebar.html.twig' %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="box">
            <div class="container">

            {% block body %}{% endblock %}

            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Main Footer -->
{% include 'base/footer.html.twig' %}