{% extends 'base/starter.html.twig' %}

{% block title %}Liste des commandes{% endblock %}

{% block body %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center">
                {{ message }}
            </div>
        {% endfor %}
        <h3 class="text-center">Liste des commandes</h3>
        <a class="btn btn-primary" href="{{ path('entree_new') }}" title="Passer une nouvelle commande" data-toggle="tooltip"><i class="fa fa-plus"></i></a>
        <table id="entreeTable" class="table table-striped">
            <thead>
            <tr>
                <th>Description</th>
                <th>Fournisseur</th>
                <th>Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for entree in entrees %}
                <tr>
                    <td>{{ entree.name }}</td>
                    <td>{{ entree.fournisseur }}</td>
                    <td>{{ entree.createdAt | date('j F Y') }}</td>
                    <td>
                        <a href="{{ path('entree_detail', {'id':entree.id}) }}" class="btn btn-warning" title="Afficher les détails de cette commande" data-toggle="tooltip">Détail</a>
                        {{ include('entree/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

{% endblock %}
