{% extends 'base/starter.html.twig' %}

{% block body %}
    <h3 class="text-center">Nouvelle commande</h3>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">{{ form_row(form.name) }}</div>
            <div class="col-md-4">{{ form_row(form.fournisseur) }}</div>
            <div class="col-md-4">{{ form_row(form.createdAt) }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="commander" data-prototype="{{ form_widget(form.commanders.vars.prototype)|e('html_attr') }}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-left"><button class="btn btn-primary" type="submit">Enregistrer</button></div>
        <div class="col-md-6 text-right"><a href="{{ path('entree_index') }}" class="btn btn-danger">Annuler</a></div>
    </div>

    {{ form_end(form) }}
{% endblock %}



