{% extends 'base/starter.html.twig' %}
    {% block title %}Commandes{% endblock %}

    {% block body %}
            <h3 class="text-center">Détail de la commande: {{ entree.name }}
            </h3>
            <table id="detail" class="table table-striped">
                <thead>
                <tr>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>prix (cfa)</th>
                    <th>Montant (cfa)</th>
                </tr>
                </thead>
                <tbody>
                    {% for detail in detailCommande %}
                        <tr>
                            <td>{{ detail.produit }}</td>
                            <td>{{ detail.quantiteCommander}}</td>
                            <td>{{ detail.prixAchatUnitaire }}</td>
                            <td>{{ detail.montant }}</td>
                            <td></td>
                        </tr>
                    {% else %}
                        <p>Aucun détail n'est trouvé</p>
                    {% endfor %}
                </tbody>
            </table>
        <div class="row">
            <a href="{{ path('entree_index') }}" class="btn btn-primary">Retour</a>
        </div>
    {% endblock %}