{% extends 'base/starter.html.twig' %}

{% block title %}GestStock{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col">
            <div class="col-md-3">{{ form_row(form.fournisseur) }}</div>
            <div class="col-md-3">  {{ form_row(form.dateDebut) }}</div>
            <div class="col-md-3"> {{ form_row(form.dateFin) }}</div>
        </div>

        <div class="col-md-3"><button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button></div>
    </div>
    {{ form_end(form) }}


    <table id="searchTable" class="table table-striped">
        <thead>
        <tr>
            <th>Description</th>
            <th>Fournisseur</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for entree in entrees %}
            <tr>
                <td>{{ entree.name }}</td>
                <td>{{ entree.fournisseur }}</td>
                <td>{{ entree.createdAt | date('j F Y') }}</td>
            </tr>
            {% else %}
            <p class="text-center">Aucun enregistrement trouvé</p>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
