<form method="post" action="{{ path('produit_delete', {'id': produit.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cet enregistrement ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
    <button class="btn btn-danger" title="Supprimer ce produit" data-toggle="tooltip"><i class="fa fa-trash"></i></button>
</form>
