{{ form_start(form) }}
    <div class="row">
        <div class="col-md-8">{{ form_row(form.name) }}</div>
        <div class="col-md-4">{{ form_row(form.quantiteDisponible) }}</div>
    </div><div class="row">
        <div class="col-md-4">{{ form_row(form.prixDeVente) }}</div>
        <div class="col-md-4">{{ form_row(form.stockMinimal) }}</div>
        <div class="col-md-4">{{ form_row(form.seuilAlert) }}</div>
    </div><div class="row">
        <div class="col-md-6">{{ form_row(form.categorie) }}</div>
    </div>
<div class="row">
    <div class="col-md-6"><button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button></div>
    <div class="col-md-6 text-right"><a class="btn btn-danger" href="{{ path('produit_index') }}">Annuler</a></div>

</div>


{{ form_end(form) }}
