{% extends 'base/starter.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block body %}
    <h3 class="text-center">Modifier les informations du produit</h3>

    {{ include('produit/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
