{% extends 'base/starter.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}
    <h2 class="text-center">Liste des produits</h2>
    <a class="btn btn-primary" href="{{ path('produit_new') }}" title="Ajouter un nouveau produit" data-toggle="tooltip"><i class="fa fa-plus"></i></a>
    <table id="produitTable" class="table table-striped">
        <thead>
            <tr>
                <th>Catégorie</th>
                <th>Nom</th>
                <th>Quantité</th>
                <th>Prix (cfa)</th>
                <th>Valeur (cfa)</th>
                <th>Stock minimal</th>
                <th>Seuil alert</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.categorie }}</td>
                <td>{{ produit.name }}</td>
                <td>{{ produit.quantiteDisponible }}</td>
                <td>{{ produit.prixDeVente }}</td>
                <td>{{ produit.valeurDuStock }}</td>
                <td>{{ produit.stockMinimal }}</td>
                <td>{{ produit.seuilAlert }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('produit_edit', {'id': produit.id}) }}" title="Modifier les informations de ce produit" data-toggle="tooltip"><i class="fa fa-edit"></i></a>
                    <a href="" style="display: inline-block">{{ include('produit/_delete_form.html.twig') }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
