{% extends 'base/starter.html.twig' %}

{% block title %}Nouveau{% endblock %}

{% block body %}
    <h3 class="text-center">Ajouter un nouveau produit</h3>

    {{ include('produit/_form.html.twig') }}

{% endblock %}
