{% extends 'admin/base.html.twig' %}
{% block body %}
    <div class="register-box-body">
        <p class="login-box-msg">Inscrivez vous </p>
        {{ form_start(form) }}
             <div class="form-group has-feedback">
                 {{ form_row(form.username) }}
                 <span class="glyphicon glyphicon-user form-control-feedback"></span>
             </div>
             <div class="form-group has-feedback">
                 {{ form_row(form.email) }}
                 <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
             </div>
            <div class="form-group has-feedback">
                 {{ form_row(form.password) }}
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
             <div class="form-group has-feedback">
                 {{ form_row(form.confirm_password) }}
                 <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
             </div>
        <div class="row form-group has-feeeback">
            <div class="col-md-7">
                <a href="{{ path('security_login') }}" class="btn btn-secondary">J'ai déjà un compte</a>
            </div>
            <div class="col-md-5 text-right">
                <button class="btn btn-primary" type="submit">S'inscrire</button>
            </div>
        </div>

        {{ form_end(form) }}

    </div>
{% endblock %}