{% extends 'admin/base.html.twig' %}

{% block body %}
<div class="login-box-body">
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey | trans(error.messagedata, 'security') }}
        </div>
    {% endif %}
    <p class="login-box-msg">Se connecter à ma session</p>

    <form action="{{ path('security_login') }}" method="post">
        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Votre nom" id="username" name="_username" value="{{ lastUserName }}">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Mot de passe" id="password" name="_password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-7">
                <div class="checkbox icheck">
                    <label>
                        <input type="checkbox"> Se souvenir de moi
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-5">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Se connecter</button>
            </div>
            <!-- /.col -->
        </div>
    </form>
    <a href="{{ path('security_inscription') }}" class="text-center">S'inscrire</a>

</div>
{% endblock %}

