{% extends 'base/starter.html.twig' %}

{% block title %}sortie{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}
    <h3 class="text-center">Liste des ventes</h3>
    <a href="{{ path('sortie_new') }}" class="btn btn-primary" title="Nouvelle vente" data-toggle="tooltip"><i class="fa fa-plus"></i></a>
    <table id="sortieTable" class="table table-striped">
        <thead>
        <th>Client</th>
        <th>Date de la vente</th>
        <th></th>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.client }}</td>
                <td>{{ sortie.createdAt |date('j F Y')}}</td>
                <td>
                    <a href="{{ path('sorie_show', {'id':sortie.id}) }}" class="btn btn-warning">Détail</a>
                    {{ include('sortie/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <p>Aucune vente n'est éffectuée</p>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
