{% extends 'base/starter.html.twig' %}
{% block title %} {% endblock %}

{% block body %}
    <h3 class="text-center">Nouvelle vente</h3>

    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">{{ form_row(form.client) }}</div>
        </div>
        <div class="row">
            <ul class="vente col-md-5" data-prototype="{{ form_widget(form.livrers.vars.prototype)|e('html_attr') }}"></ul>
        </div>
        <div class="row">
            <div class="col-md-6 text-left"><button class="btn btn-primary" type="submit">Enregistrer</button></div>
            <div class="col-md-6 text-right"><a href="{{ path('sortie_index') }}" class="btn btn-danger">Annuler</a></div>
        </div>


    {{ form_end(form) }}
{% endblock %}



