{% extends 'base/starter.html.twig' %}
    {% block title %}Ventes{% endblock %}

    {% block body %}
        <h3 class="text-center">Détail de la vente effectuée par: {{ sortie.client.name }} le {{ sortie.createdAt|date('j F Y') }}
        </h3>
        <table id="detail" class="table table-striped">
            <thead>
            <tr>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Montant (cfa)</th>
            </tr>
            </thead>
            <tbody>
            {% for detail in detailVente %}
                <tr>
                    <td>{{ detail.produit }}</td>
                    <td>{{ detail.quantiteLivrer}}</td>
                    <td>{{ detail.montant }}</td>
                    <td></td>
                </tr>
            {% else %}
                <p>Aucun détail n'est trouvé</p>
            {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <a href="{{ path('sortie_index') }}" class="btn btn-primary">Retour</a>
        </div>
    {% endblock %}