{% extends 'base/starter.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h4 class="text-center">Liste des produits en dessous du stock minimal</h4>
            <table class="table table-striped">
                <thead>
                    <th>Nom</th>
                    <th>Stock minimal</th>
                    <th>Quantite disponible</th>
                </thead>
                <tbody>
                    {% for minimal in stockMinimal %}
                        <tr>
                            <td>{{ minimal.name }}</td>
                            <td>{{ minimal.stockMinimal }}</td>
                            <td>{{ minimal.quantiteDisponible }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h4 class="text-center">Liste des produits en dessous du seuil d'alerte</h3>
                <table class="table table-striped">
                    <thead>
                    <th>Produit</th>
                    <th>Seuil alerte</th>
                    <th>Quantite disponible</th>
                    </thead>
                    <tbody>
                    {% for alerte in seuilAlert %}
                        <tr>
                            <td>{{ alerte.name }}</td>
                            <td>{{ alerte.seuilAlert }}</td>
                            <td>{{ alerte.quantiteDisponible }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
{% endblock %}


