<form method="post" action="{{ path('client_delete', {'id': client.id}) }}" style="display: inline-block" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
    <button class="btn btn-danger" title="Supprimer ce client" data-toggle="tooltip"><i class="fa fa-trash"></i></button>
</form>
