{{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">{{ form_row(form.name) }}</div>
        <div class="col-md-6">{{ form_row(form.mail) }}</div>
    </div>
    <div class="row">
        <div class="col-md-5">{{ form_row(form.pays) }}</div>
        <div class="col-md-4">{{ form_row(form.ville) }}</div>
        <div class="col-md-3">{{ form_row(form.telephone) }}</div>
    </div>
    {{ form_row(form.adresse) }}
    <div class="row">
        <div class="col-md-6"><button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button></div>
        <div class="col-md-6 text-right"><a class="btn btn-danger" href="{{ path('client_index') }}" >Annuler</a></div>
    </div>
{{ form_end(form) }}
