{% extends 'base/starter.html.twig' %}

{% block title %}Éditer le contenu{% endblock %}

{% block body %}
    <h2>Éditer les informations du client</h2>

    {{ include('client/_form.html.twig', {'button_label': 'Modifier'}) }}


{% endblock %}
