{% extends 'base/starter.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">
           {{ message }}
        </div>
    {% endfor %}
    <h2 class="text-center">Liste des clients</h2>
    <a class="btn btn-primary" href="{{ path('client_new') }}" title="Ajouter un nouveau client" data-toggle="tooltip"><i class="fa fa-plus"></i></a>
    <table id="clientTable" class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Pays</th>
                <th>Ville</th>
                <th>Mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.name }}</td>
                <td>{{ client.adresse }}</td>
                <td>{{ client.telephone }}</td>
                <td>{{ client.pays }}</td>
                <td>{{ client.ville }}</td>
                <td>{{ client.mail }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('client_edit', {'id': client.id}) }}" title="Modifier les informations du client" data-toggle="tooltip"><i class="fa fa-edit"></i></a>
                   {{ include('client/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
