{% extends 'base/starter.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
    <h2 class="text-center">Ajouter un nouveau client</h2>

    {{ include('client/_form.html.twig') }}
{% endblock %}
