{% extends 'base/starter.html.twig' %}

{% block title %}edit{% endblock %}

{% block body %}
    <h1>Éditer les informations du fournisseur</h1>

    {{ include('fournisseur/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
