{% extends 'base/starter.html.twig' %}

{% block title %}Fournisseur index{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}
    <h2 class="text-center">Liste des fournisseurs</h2>
    <a class="btn btn-primary" href="{{ path('fournisseur_new') }}" title="Ajouter un nouveau fournisseur" data-toggle="tooltip"><i class="fa fa-plus"></i></a>
    <table id="fournisseurTable" class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Pays</th>
                <th>Ville</th>
                <th>Mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for fournisseur in fournisseurs %}
            <tr>
                <td>{{ fournisseur.name }}</td>
                <td>{{ fournisseur.adresse }}</td>
                <td>{{ fournisseur.telephone }}</td>
                <td>{{ fournisseur.pays }}</td>
                <td>{{ fournisseur.ville }}</td>
                <td>{{ fournisseur.mail }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('fournisseur_edit', {'id': fournisseur.id}) }}" title="Modifier les informations du fournisseur" data-toggle="tooltip"><i class="fa fa-edit"></i></a>
                    <a href="" style="display: inline-block">{{ include('fournisseur/_delete_form.html.twig') }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
