{% extends 'base/starter.html.twig' %}

{% block title %}New Fournisseur{% endblock %}

{% block body %}
    <h2 class="text-center">Ajouter un nouveau fournisseur</h2>

    {{ include('fournisseur/_form.html.twig') }}

{% endblock %}
