<form method="post" action="{{ path('categorie_delete', {'id': categorie.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cet enregistrement?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id) }}">
    <button class="btn btn-danger" title="Supprimer cette catégorie" data-toggle="tooltip"><i class="fa fa-trash"></i></button>
</form>