{% extends 'base/starter.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3 class="text-center">
            Modifier la catégorie
        </h3>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        <div class="row">
           <div class="col-md-5"><button class="btn btn-primary" type="submit">Modifier</button></div>
            <div class="text-right"><a href="{{ path('categorie_index') }}" class="btn btn-danger">Annyler</a></div>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="col-md-3"></div>
{% endblock %}
