{% extends 'base/starter.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}
    <h3 class="text-center">Liste des catégories</h3>
    <a class="btn btn-primary" href="{{ path('categorie_new') }}" title="Ajouter une nouvelle catégorie" data-toggle="tooltip"><i class="fa fa-plus"></i></a>
    <table id="categorieTable" class="table table-striped">
        <thead>
        <tr>
            <th>Catégorie</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td class="col-md-8">{{ categorie.name }}</td>
                <td>
                    <a href="{{ path('categorie_edit', {'id':categorie.id}) }}" class="btn btn-warning" title="Modifier cette catégorie" data-toggle="tooltip"><i class="fa fa-edit"></i></a>
                    {{ include('categorie/_delete_form.html.twig') }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
