{% extends 'base/starter.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3 class="text-center">
                Ajouter une nouvelle catégorie
            </h3>
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            <p>Voulez vous ajouter des produits ?</p>
            <div class="row">
                <div class="col-md-6 form-group form-check">
                    <input type="radio" class="form-check-input" id="confirmation" name="confirmation" value="oui">
                    <label class="form-check-label" for="oui">Oui</label>
                </div>
                <div class="col-md-6 form-group form-check text-right">
                    <input type="radio" class="form-check-input" id="confirmation" name="confirmation" value="non" checked>
                    <label class="form-check-label" for="non">Non</label>
                </div>

            </div>

            <ul id="produitCollection" class="produits" data-prototype="{{ form_widget(form.produits.vars.prototype)|e('html_attr') }}">
            </ul>
            <div class="row">
                <div class="col-md-6"><button class="btn btn-primary" type="submit">Enregistrer</button></div>
                <div class="col-md-6 text-right"><a href="{{ path('categorie_index') }}" class="btn btn-danger">Annuler</a></div>
            </div>

            {{ form_end(form) }}
        </div>
    <div class="col-md-3"></div>
{% endblock %}
